if error
  p(class='error') #{error}
else
  if hourlyData
    p #{hourlyData[0].nombre}, #{hourlyData[0].provincia}
    
  if diaryData
    p #{diaryData[0].nombre}, #{diaryData[0].provincia}
  
  // El tiempo hoy
  div(class='row')
    div(class='col border border-secondary rounded')
      if location
        h2 El tiempo hoy (#{date.hour}:#{date.minutes}) en #{location}
  
  -function takeValues(cadena){var foo=cadena.find(a=>a.periodo==date.hour);var value=foo.value;return value;}
  -function takeValuesVientoDireccion(cadena){var foo=cadena.find(a=>a.periodo==date.hour);var direccion=foo.direccion;return direccion;}
  -function takeValuesVientoVelocidad(cadena){var foo=cadena.find(a=>a.periodo==date.hour);var velocidad=foo.velocidad;return velocidad;}
  -function getWeatherValues(cadena){var foo=cadena.find(a=>a.periodo==date.hour);var descripcion=foo.descripcion;return descripcion;}
  -function getDayWeather(cadena){switch(cadena){case"Despejado":return'/common/img/weather/dia/despejado.svg';case"Bruma":return'/common/img/weather/dia/bruma.svg';case"Nuboso con lluvia escasa":return'/common/img/weather/dia/llovizna.svg';case"Cubierto":return'/common/img/weather/dia/cubierto.svg';case"Nubes altas":return'/common/img/weather/dia/despejado.svg';case"Muy nuboso":return'/common/img/weather/dia/nuboso.svg';case"Poco nuboso":return'/common/img/weather/dia/poco-nuboso.svg';case"Niebla":return'/common/img/weather/dia/niebla.svg';case"Intervalos nubosos":return'/common/img/weather/dia/poco-nuboso.svg';case"Muy nuboso con lluvia escasa":return'/common/img/weather/dia/llovizna.svg';case"Nuboso":return'/common/img/weather/dia/poco-nuboso.svg';}}
  -function getNightWeather(cadena){switch(cadena){case"Despejado":return'/common/img/weather/noche/despejado.svg';case"Bruma":return'/common/img/weather/noche/bruma.svg';case"Nuboso con lluvia escasa":return'/common/img/weather/noche/llovizna.svg';case"Cubierto":return'/common/img/weather/noche/cubierto.svg';case"Nubes altas":return'/common/img/weather/noche/despejado.svg';case"Muy nuboso":return'/common/img/weather/noche/nuboso.svg';case"Poco nuboso":return'/common/img/weather/noche/poco-nuboso.svg';case"Niebla":return'/common/img/weather/noche/niebla.svg';case"Intervalos nubosos":return'/common/img/weather/dia/poco-nuboso.svg';case"Muy nuboso con lluvia escasa":return'/common/img/weather/dia/llovizna.svg';case"Nuboso":return'/common/img/weather/dia/poco-nuboso.svg';}}  
  -function getWeatherHourly(cadena){weather=getWeatherValues(cadena);if(date.hour>"18"||date.hour<"07"){nigthWeather=getNigthWeather(weather);return nigthWeather;}else{dayWeather=getDayWeather(weather);return dayWeather}};
  -function getWeatherDiarly(cadena){if(date.hour>"18"||date.hour<"07"){nigthWeather=getNigthWeather(cadena);return nigthWeather;}else{dayWeather=getDayWeather(cadena);return dayWeather}};
  
  div(class='meteo-grid-container')
    div(class='meteo-icono')
      img(src=getWeatherHourly(hourlyData[0].prediccion.dia[0].estadoCielo) style='width:100%; height:100%; padding:30px ')
    div(class='meteo-temperatura text-center mx-auto my-auto')
      p #{takeValues(hourlyData[0].prediccion.dia[0].temperatura)}º
    div(class='meteo-minMax text-center mx-auto my-3')
      p #{diaryData[0].prediccion.dia[0].temperatura.maxima}º / #{diaryData[0].prediccion.dia[0].temperatura.minima}º
    div(class='meteo-humedad text-center mx-auto my-3')
      p #{takeValues(hourlyData[0].prediccion.dia[0].humedadRelativa)}%
    div(class='meteo-direccionViento text-center mx-auto my-3')
      p #{takeValuesVientoDireccion(hourlyData[0].prediccion.dia[0].vientoAndRachaMax)}
    div(class='meteo-velocidadViento text-center mx-auto my-3')
      p #{takeValuesVientoVelocidad(hourlyData[0].prediccion.dia[0].vientoAndRachaMax)}km/h
    div(class='meteo-indiceUV text-center mx-auto my-3')
      p uv : #{diaryData[0].prediccion.dia[1].uvMax}
    div(class='meteo-masInfo text-center mx-auto my-3')
      p +info
      
  // Previsión por días
  div(class='row')
    div(class='col border border-secondary rounded')
      h2 Predicción de los próximos 7 dias
  
  div(class='swiper-container')
    div(class='swiper-wrapper')
      div(class='swiper-slide')
        div(class='prevision-grid-container')
          div(class='prevision-dia text-center mx-auto my-auto')
            p #{date.weekdayStr[1]}
          div(class='prevision-icono')
            img(src=getWeatherDiarly(diaryData[0].prediccion.dia[1].estadoCielo[0].descripcion) style='width:100%; height:100%;')
          div(class='prevision-minMax text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[1].temperatura.maxima}º / #{diaryData[0].prediccion.dia[1].temperatura.minima}º
          div(class='prevision-sensacion text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[1].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[1].sensTermica.minima}º
      div(class='swiper-slide')
        div(class='prevision-grid-container')
          div(class='prevision-dia text-center mx-auto my-auto')
            p #{date.weekdayStr[2]}
          div(class='prevision-icono')
            img(src=getWeatherDiarly(diaryData[0].prediccion.dia[2].estadoCielo[0].descripcion) style='width:100%; height:100%;')
          div(class='prevision-minMax text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[2].temperatura.maxima}º / #{diaryData[0].prediccion.dia[2].temperatura.minima}º
          div(class='prevision-sensacion text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[2].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[2].sensTermica.minima}º
      div(class='swiper-slide')
        div(class='prevision-grid-container')
          div(class='prevision-dia text-center mx-auto my-auto')
            p #{date.weekdayStr[3]}
          div(class='prevision-icono')
            img(src=getWeatherDiarly(diaryData[0].prediccion.dia[3].estadoCielo[0].descripcion) style='width:100%; height:100%;')
          div(class='prevision-minMax text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[3].temperatura.maxima}º / #{diaryData[0].prediccion.dia[3].temperatura.minima}º
          div(class='prevision-sensacion text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[3].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[3].sensTermica.minima}º
      div(class='swiper-slide')
        div(class='prevision-grid-container')
          div(class='prevision-dia text-center mx-auto my-auto')
            p #{date.weekdayStr[4]}
          div(class='prevision-icono')
            img(src=getWeatherDiarly(diaryData[0].prediccion.dia[4].estadoCielo[0].descripcion) style='width:100%; height:100%;')
          div(class='prevision-minMax text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[4].temperatura.maxima}º / #{diaryData[0].prediccion.dia[4].temperatura.minima}º
          div(class='prevision-sensacion text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[4].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[4].sensTermica.minima}º
      div(class='swiper-slide')
        div(class='prevision-grid-container')
          div(class='prevision-dia text-center mx-auto my-auto')
            p #{date.weekdayStr[5]}
          div(class='prevision-icono')
            img(src=getWeatherDiarly(diaryData[0].prediccion.dia[5].estadoCielo[0].descripcion) style='width:100%; height:100%;')
          div(class='prevision-minMax text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[5].temperatura.maxima}º / #{diaryData[0].prediccion.dia[5].temperatura.minima}º
          div(class='prevision-sensacion text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[5].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[5].sensTermica.minima}º
      div(class='swiper-slide')
        div(class='prevision-grid-container')
          div(class='prevision-dia text-center mx-auto my-auto')
            p #{date.weekdayStr[6]}
          div(class='prevision-icono')
            img(src=getWeatherDiarly(diaryData[0].prediccion.dia[6].estadoCielo[0].descripcion) style='width:100%; height:100%;')
          div(class='prevision-minMax text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[6].temperatura.maxima}º / #{diaryData[0].prediccion.dia[6].temperatura.minima}º
          div(class='prevision-sensacion text-center mx-auto my-auto')
            p #{diaryData[0].prediccion.dia[6].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[6].sensTermica.minima}º