if error
  p(class='error') #{error}
else
  // El tiempo hoy
  div(class='border border-secondary rounded')
    if location
      h2(class='mx-2 my-1') El tiempo hoy en #{location}

  -Array.prototype.rotate=function(){var t=Array.prototype.unshift,r=Array.prototype.splice;return function(o){var p=this.length>>>0;o>>=0;return t.apply(this,r.call(this,o%p,p)),this}}();
  -String.prototype.replaceAll = function(str1, str2, ignore){return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);};

  -function takeValues(item){var target = item.find(e=>e.periodo==date.hour); if(target) return target.value; return item[item.length-1].value;}
  -function takeValuesVientoDireccion(item){var target = item.find(e=>e.periodo==date.hour); if(target) return target.direccion; return item[item.length-2].direccion;}
  -function takeValuesVientoVelocidad(item){var target = item.find(e=>e.periodo==date.hour); if(target) return target.velocidad; return item[item.length-2].velocidad;}

  -function getEstadoCieloActual(cadena){var foo=cadena.find(a=>a.periodo==date.hour);if(foo){return foo.descripcion;}else{return cadena[cadena.length-1].descripcion;}}
  -var orto = hourlyData[0].prediccion.dia[0].orto.split(":");
  -orto = parseInt(orto[0]) + parseInt(orto[1])/60;
  -var ocaso = hourlyData[0].prediccion.dia[0].ocaso.split(":");
  -ocaso = parseInt(ocaso[0]) + parseInt(ocaso[1])/60;
  -function getWeatherIcon(cadena,hora){if(hora<orto||hora>=ocaso)return'/common/img/weather/noche/'+_getWeatherIcon(cadena);return'/common/img/weather/dia/'+_getWeatherIcon(cadena)}
  -function _getWeatherIcon(cadena){switch(cadena){case "Despejado":return'despejado.svg';case "Bruma":return'bruma.svg';case "Nuboso con lluvia escasa":return'llovizna.svg';case "Cubierto":return'cubierto.svg';case "Nubes altas":return'nubes-altas.svg';case "Muy nuboso":return'nuboso.svg';case "Poco nuboso":return'poco-nuboso.svg';case "Niebla":return'niebla.svg';case "Intervalos nubosos":return'poco-nuboso.svg';case "Muy nuboso con lluvia escasa":return'llovizna.svg';case "Nuboso":return'poco-nuboso.svg'}}

  -var estadoCieloActual = getEstadoCieloActual(hourlyData[0].prediccion.dia[0].estadoCielo);

  div(class='meteo-grid-container')
    div(class='meteo-icono')
      img(src=getWeatherIcon(estadoCieloActual, date.hour), alt=estadoCieloActual, title=estadoCieloActual, style='width:100%; height:100%; padding:30px ')
    div(class='meteo-temperatura text-center mx-auto my-auto')
      p #{takeValues(hourlyData[0].prediccion.dia[0].temperatura)}º
    div(class='meteo-minMax text-center mx-auto my-3')
      p #{diaryData[0].prediccion.dia[0].temperatura.maxima}º / #{diaryData[0].prediccion.dia[0].temperatura.minima}º
    div(class='meteo-humedad text-center mx-auto my-3')
      p #{takeValues(hourlyData[0].prediccion.dia[0].humedadRelativa)}%
    div(class='meteo-direccionViento text-center mx-auto my-3')
      p #{takeValuesVientoDireccion(hourlyData[0].prediccion.dia[0].vientoAndRachaMax)}
    div(class='meteo-velocidadViento text-center mx-auto my-3')
      p #{takeValuesVientoVelocidad(hourlyData[0].prediccion.dia[0].vientoAndRachaMax)} km/h
    div(class='meteo-indiceUV text-center mx-auto my-3')
      p UV#{diaryData[0].prediccion.dia[1].uvMax}
    div(class='meteo-masInfo text-center mx-auto my-3')
      p +info
      
  // Previsión por días
  div(class='border border-secondary rounded')
    h2(class='mx-2 my-1') Predicción para los próximos días
  
  div(class='swiper-container slider-days')
    div(class='swiper-wrapper')
      each day in [1, 2, 3, 4, 5, 6]
        div(class='swiper-slide')
          div(class='prevision-grid-container')
            div(class='prevision-dia text-center mx-auto my-auto')
              p #{date.weekdayStr[day]}
            div(class='prevision-icono-dias')
              -var estadoCielo = diaryData[0].prediccion.dia[day].estadoCielo[0].descripcion;
              img(src=getWeatherIcon(estadoCielo), alt=estadoCielo, title=estadoCielo, style='width:100%; height:100%;')
            div(class='prevision-minMax text-center mx-auto my-auto')
              p #{diaryData[0].prediccion.dia[day].temperatura.maxima}º / #{diaryData[0].prediccion.dia[day].temperatura.minima}º
            div(class='prevision-sensacion text-center mx-auto my-auto')
              p #{diaryData[0].prediccion.dia[day].sensTermica.maxima}º / #{diaryData[0].prediccion.dia[day].sensTermica.minima}º

  // Previsión por horas
  div(class='border border-secondary rounded')
    h2(class='mx-2 my-1') Predicción para las próximas horas

  div(class='swiper-container slider-hours')
    div(class='swiper-wrapper')
      -var hoursArray = [...Array(24).keys()];
      -var orderedHoursArray = [...Array(24).keys()].rotate(date.hour+1);
      -var dataDate = new Date(hourlyData[0].prediccion.dia[0].fecha);
      -var diaryOffset = date.day-dataDate.getDate();
      -var hourlyOffset = hourlyData[0].prediccion.dia[diaryOffset].estadoCielo[0].periodo;
      div(class='swiper-slide')
          div(class='horas-grid-container')
            //-console.log(hour);
            div(class='prevision-hora text-center mx-auto my-auto')
              p Hora
            div(class='prevision-icono-horas')              
              img(src='/common/img/weather/none.svg', alt='Estado del cielo', title='Estado del cielo', style='width:100%; height:100%;') 
            div(class='prevision-temperatura-horas text-center mx-auto my-auto')
              p Temp.
            div(class='prevision-humedad-horas text-center mx-auto my-auto')
              p Hum.
            div(class='prevision-sensacion-termica-horas text-center mx-auto my-auto')
              p S.Ter.
            div(class='prevision-viento-dir-horas text-center mx-auto my-auto')
              p Viento
            div(class='prevision-viento-vel-horas text-center mx-auto my-auto')
              p 
      each hour in orderedHoursArray
        div(class='swiper-slide')
          div(class='horas-grid-container')
            //-console.log(hour);
            div(class='prevision-hora text-center mx-auto my-auto')
              p #{hour}:00
            div(class='prevision-icono-horas')              
              -var estadoCielo = hourlyData[0].prediccion.dia[diaryOffset].estadoCielo[hour-hourlyOffset].descripcion;
              img(src=getWeatherIcon(estadoCielo, hour), alt=estadoCielo, title=estadoCielo, style='width:100%; height:100%;')
            div(class='prevision-temperatura-horas text-center mx-auto my-auto')
              p #{hourlyData[0].prediccion.dia[diaryOffset].temperatura[hour-hourlyOffset].value}º
            div(class='prevision-humedad-horas text-center mx-auto my-auto')
              p #{hourlyData[0].prediccion.dia[diaryOffset].humedadRelativa[hour-hourlyOffset].value}%
            div(class='prevision-sensacion-termica-horas text-center mx-auto my-auto')
              p #{hourlyData[0].prediccion.dia[diaryOffset].sensTermica[hour-hourlyOffset].value}º
            div(class='prevision-viento-dir-horas text-center mx-auto my-auto')
              p #{hourlyData[0].prediccion.dia[diaryOffset].vientoAndRachaMax[2*(hour-hourlyOffset)].direccion}
            div(class='prevision-viento-vel-horas text-center mx-auto my-auto')
              p #{hourlyData[0].prediccion.dia[diaryOffset].vientoAndRachaMax[2*(hour-hourlyOffset)].velocidad} km/h

            -if(hour>=23){diaryOffset++;hourlyOffset=0}